<section class="mt-5">
    <mat-form-field class="example-full-width">
        <mat-label>Name of the image</mat-label>
        <input class="text-white" type="text" matInput (input)="filterImages($event)">
    </mat-form-field>
    <div class="row justify-content-between">
        <a *ngFor="let image of imagesSlice" (click)="navToDetail(image.id)"
            class="col-12 col-md-4 col-sm-6 m-auto mt-3">
            <img [src]="image.source" [alt]="image.name" class="w-100">
        </a>
    </div>
    <div *ngIf="filteredImages.length === 0">
        <h1 class="text-center text-white">
            No image found in the system
        </h1>
    </div>
    <div class="mt-5">
        <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
            [pageSizeOptions]="pageSizeOptions" aria-label="Select page">
        </mat-paginator>
    </div>
</section>